<div class="container mt-5">
  <div class="row align-items-center">
    <div class="col-6">
      <h2 class="mb-4">Welcome {{signedInUser.name}}</h2>
    </div>
    <div class="col-6 text-end">
      <button class="btn btn-danger" (click)="logout()">Logout</button>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Balance: {{ signedInUser.balance.toFixed(2) }}</h3>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-12">
      <h2 class="mb-4">Send Money</h2>
      <form (submit)="sendMoney()">
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="phoneNumber" class="form-label">Phone Number</label>
            <input
              type="text"
              class="form-control"
              id="accountNumber"
              [(ngModel)]="phoneNumber"
              name="accountNumber"
              required
            />
          </div>
          <div class="col-md-4 mb-3">
            <label for="amount" class="form-label">Amount</label>
            <input
              type="number"
              class="form-control"
              id="amount"
              [(ngModel)]="amount"
              name="amount"
              required
            />
          </div>
          <div class="col-md-2 mb-3 d-flex align-items-end">
            <button type="submit" class="btn btn-primary w-100">Send</button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-12">
      <h2 class="mb-4">Transaction History</h2>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Date</th>
            <th>Description</th>
            <th>Amount</th>
            <th>Balance</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let transaction of transactions">
            <td>{{ transaction.date }}</td>
            <td>{{ transaction.description }}</td>
            <td>
              {{ transaction.amount < 0 ? ' ' : '+' }}{{ transaction.amount }}
            </td>
            <td>{{ transaction.balance.toFixed(2) }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
